.App {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
  color: rgb(41, 8, 38);
}

h1 {
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 10px rgb(89, 48, 85);
}

.song {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.song-list {
  padding:15px;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgb(89, 48, 85);
}



